<%- model_class = Pipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active" role="presentation"> <a href="#pipe-tab" data-toggle="pill">Pipe </a></li>
  <li role="presentation"> <a href="#flow-tab" data-toggle="pill">Flow </a></li>
  <li role="presentation"> <a href="#transform-tab" data-toggle="pill">Transform </a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="pipe-tab">
    <%= render :partial => 'form' %>
  </div>

  <div class="tab-pane" id="flow-tab">
    <% @flows.each do |flow| %>
      <%= render :partial => '/flows/form', locals: { flow: flow } %>
    <% end %>
    <%= link_to "new", new_pipe_flow_path(@pipe), class: "btn btn-default" %>
  </div>

  <div class="tab-pane" id="transform-tab">
    <% @transforms.each do |transform| %>
      <%= render :partial => '/transforms/form', locals: { transform: transform } %>
    <% end %>
    <%= link_to "new", new_pipe_transform_path(@pipe), class: "btn btn-default" %>
  </div>
</div>

